#support-firstscreen{
    margin: 0 0 0 0;
    padding: 0;
}
#support-firstscreen img{
    width: 100%;
    height: 100vh;
    margin: 0;
}
.welcomeimage-text{
    color: #F2F2F2;
    position: absolute;
    top: 250px;
    left: 180px;
}
.welcomeimage-text h2{
    font-size: 32px;
    line-height: 60px;
}

.support-secondscreen{
    padding: 2.5% 0 7.5% 0;
}
.support-secondscreen img{
    margin-left: 30%;
    width: 60px;
    height: 60px;
    border-radius: 8px;
}
.support-secondscreen h3{
    font-size: 32px; 
    font-weight: bold;
}
.support-secondscreen p{
    font-weight: bold;
    font-size: 16px;
    line-height: 45px;
    float: left;
}
.hover-zoom{
    padding: 1%;
}

.support-thirdscreen h3{
    font-size: 32px; 
    font-weight: bold;
}
.support-thirdscreen-content{
    padding: 20px;
    gap: 40px;
    background: #F5F5F5;
    column-gap: 20px;
}
.support-thirdscreen img{
    width: 100px;
    height: 100px;
}
.support-thirdscreen-content h3{
    font-size: 20px;
    font-weight: 500;
}
#row-content{
    background: #FFFFFF;
    padding: 40px 0;
}
.support-thirdscreen-content button{
    background: #F5F5F5;
    border-radius: 4px;
    border-width: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    padding: 2.5%;
}


#codingo-support-contact{
    padding: 10% 5%;
    text-align: center;
    align-items: center;
}
#codingo-support-contact h2{
    font-size: 40px;
}
#codingo-support-contact button{
    width: fit-content;
    margin: auto;
    background: #1488CC;
    border-radius: 8px;
    border-width: 0;
    padding: 12px 24px;
    gap: 8px;
    font-size: 24px;
    font-weight: 500;
    color: #FFFFFF;
}
@media (min-width: 768px) {
    #support-firstscreen p{
        display: none;
    }
    
    .hover-zoom:hover{
        transform: scale(1.1);
        transition: all 0.3s ease;
        background-color: rgb(219, 213, 213);
        border-radius: 10px;
    }
}
@media (max-width: 768px) {
    .support-firstscreen-image{
        display: none;
    }
    #support-firstscreen{
        background: #031544;
        height: auto;
        margin: 70px 0 0 0;
        padding: 5% 0;
    }
    .welcomeimage-text{
        display: none;
    }
    #support-firstscreen p{
        font-size: 16px;
        color: white;
        text-align: center;
        vertical-align: middle;
        margin: auto;
    }
    .support-secondscreen{
        padding: 10% 5%;
    }
    .support-secondscreen h3{
        font-size: 16px;
    }
    .support-secondscreen img{
        margin-left: 0%;
        width: 60px;
        height: 60px;
        border-radius: 8px;
    }
    .support-secondscreen p{
        font-weight: bold;
        font-size: 12px;
        line-height: 45px;
        text-align: center;
    }
    .support-thirdscreen{
        padding: 10% 5%;
    }
    .support-thirdscreen h3{
        font-size: 16px;
    }
    .support-thirdscreen-content{
        padding: 5px;
    }
    #row-content{
        padding: 10px 0;
    }
    .support-thirdscreen img{
        width: 60px;
        height: 60px;
    }
    .support-thirdscreen-content h3{
        font-size: 12px;
        font-weight: 500;
    }
    .support-thirdscreen-content p{
        font-size: 10px;
    }
    .support-thirdscreen-content button{
        font-size: 10px;
    }
    #codingo-support-contact h2{
        font-size: 20px;
    }
    #codingo-support-contact button{
        width: fit-content;
        margin: auto;
        background: #1488CC;
        border-radius: 8px;
        border-width: 0;
        padding: 8px 12px;
        gap: 8px;
        font-size: 12px;
        font-weight: 500;
        color: #FFFFFF;
    }
}