.header{
    
    z-index: 100;
}
.navbar{
    padding: 0 10%;
    background: #FFFFFF;
    border-radius: 0;
    border-bottom: 1px solid #031544;
}
.navbar-brand img{
    width: 165px;
    height: 50px;
}

.navbar-nav a{
    text-decoration: none;
}
.navbar-nav a:hover{
    cursor: pointer;
}
.nav-item{
    margin: 20px 20px 0 0;
}
.special-menu{
    background: #031544;
}

.offcanvas-left{
    position: fixed;
    /* top: 80; */
    left: 0;
    width: 100%;
    height: auto;
    z-index: 999;
    display: none;
    border-top: 1px solid #031544;
}
#offcanvas-left{
    padding: 2.5% 5%;
    /* margin: auto; */
    font-size: 16px;
}
#offcanvas-left .row{
    margin: 0;
    padding: 0;
    float: left;
}
#offcanvas-left .col-sm-3, #offcanvas-left .col-md-3{
    margin: 0;
    padding: 0;
}
#offcanvas-left h3{
    font-size: 14px;
    color: #2B32B2;
}
#offcanvas-left h4{
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 18px;
}
#offcanvas-left p{
    font-size: 14px;
}
#offcanvas-left .fa{
    margin-left: 2%;
}
.offcanvas-left.open {
    display: block;
}

.offcanvas-left .close-button {
position: absolute;
top: 10px;
right: 20px;
font-size: 32px;
font-weight: 400;
}
.offcanvas-left img{
    width: 60px;
    height: 60px;
    margin: 0;
    padding: 0;
    transition: all 0.3s ease;
}

.offcanvas-right{
    position: fixed;
    /* top: 0; */
    left: 0;
    width: 100%;
    height: auto;
    z-index: 999;
    display: none;
    border-top: 1px solid #031544;
}
#offcanvas-right{
    padding: 5% 5%;
    margin: auto;
}
.offcanvas-right.open {
    display: block;
}

.offcanvas-right .close-button {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 32px;
    font-weight: 400;
}
#offcanvas-right h3{
    font-size: 14px;
    color: #2B32B2;
}
#offcanvas-right h4{
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: black;
}
#offcanvas-right p{
    font-size: 12px;
}