
<header class="header">
    <nav class="navbar container-fluid navbar-expand-md fixed-top menu-desktop" [ngClass]="headerClass">
        <a href="#" class="navbar-brand"><img src="../../assets/Codingo Logo.png" alt=""></a>
        <button class="navbar-toggler ml-auto navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar" (click)="toggleNavbar()" style="float: right; margin-left:auto; margin-right:5px; color:white;">
            <!-- <span class="navbar-toggler-icon"></span> -->
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar" [ngClass]="{ 'show': navbarOpen }">
            <ul class="navbar-nav mx-auto"> 
                
                <!-- OffCanvas Starts -->

                <!-- Left off canvas starts -->

                <li class="nav-item">
                    <a class="nav-link dropdown-toggle" [ngClass]="{ 'open': isLeftMenuOpen }" data-toggle="dropdown" (click)="toggleLeftOffcanvas()">Products</a>
                    <div class="offcanvas-left bg-light p-3" [ngClass]="{ 'open': isLeftMenuOpen }" [@slideInOut]="isLeftMenuOpen ? 'in' : 'out'">
                        <button class="close-button btn" (click)="toggleLeftOffcanvas()" *ngIf="isLeftMenuOpen">
                            <i class="fa fa-times"></i>
                        </button>
                        <div class="container" id="offcanvas-left">
                            <div class="row">
                                <div class="col-sm-8 col-md-8 col-xs-12" style="transition: all 0.3s ease;">
                                    <div class="row" style="padding: 2.5% 1%;">
                                        <h3>FEATURED</h3>
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6 col-xs-12 hover-zoom">
                                                <a href="www.aptipro.in" target="_blank">
                                                    <div class="col-sm-3 col-md-3">
                                                        <img src="../../assets/Aptipro Icon.jpg" alt="">
                                                    </div>
                                                    <div class="col-sm-9 col-md-9 col-xs-12">
                                                        <h4>aptipro.in</h4>
                                                        <p>Learn Aptitude from experts</p>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-sm-6 col-md-6 col-xs-12 hover-zoom">
                                                <a href="www.sqlpro.in" target="_blank">
                                                    <div class="col-sm-3 col-md-3">
                                                        <img src="../../assets/SQL Icon.jpg" alt="">
                                                    </div>
                                                    <div class="col-sm-9 col-md-9 col-xs-12">
                                                        <h4>sqlpro.in</h4>
                                                        <p>Learn SQL from experts</p>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row" style="margin: 5% 0 0 0;">
                                            <a href="">
                                                <h3>View All Products <i class="fa fa-arrow-right"></i></h3>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="row" style="background: #DEEBFF; border-radius: 10px; padding: 2.5% 1%;">
                                        <div class="row" style="margin: 0 1%;">
                                            <div class="col-sm-6 col-md-6 col-xs-12">
                                                <h3>OUR NEW PRODUCTS</h3>
                                            </div>
                                            <div class="col-sm-6 col-md-6 col-xs-12" style="padding-right: 5%;">
                                                <a href="" style="float:right;"><h3>View All     <i class="fa fa-arrow-right" style="margin-left: 0;"></i></h3></a>
                                            </div>
                                        </div>
                                        <div class="row hover-zoom" >
                                            <div class="col-sm-6 col-md-6 col-xs-12">
                                                <div class="col-sm-3 col-md-3">
                                                    <img src="../../assets/Java Icon.png" alt="">
                                                </div>
                                                <div class="col-sm-9 col-md-9 col-xs-12">
                                                    <h4>javapro.in</h4>
                                                    <p>Learn Java from experts</p>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6 col-xs-12">
                                                <div class="col-sm-3 col-md-3">
                                                    <img src="../../assets/Python Icon.jpg" alt="">
                                                </div>
                                                <div class="col-sm-9 col-md-9 col-xs-12">
                                                    <h4>pypro.in</h4>
                                                    <p>Learn Python from experts</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-4 col-xs-12">
                                    <!-- <div class="row">
                                        <a href=""><h3>BROWSE BY SOLUTION</h3></a>
                                    </div>
                                    <div>
                                        <a href=""><h3>BROWSE BY TEAM TYPE</h3></a>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <!-- Left off canvas ends -->

                <!-- Right off canvas starts -->

                <li class="nav-item">
                    <a href="" class="nav-link dropdown-toggle" [ngClass]="{ 'open': isRightMenuOpen }" data-toggle="dropdown" (click)="toggleRightOffcanvas()">Support</a>
                    <div class="offcanvas-right bg-light p-3" [ngClass]="{ 'open': isRightMenuOpen }" [@slideInOut]="isRightMenuOpen ? 'in' : 'out'">
                        <button class="close-button btn" (click)="toggleRightOffcanvas()" *ngIf="isRightMenuOpen">
                            <i class="fa fa-times"></i>
                        </button>
                        <div class="container" id="offcanvas-right">
                            <div class="row">
                                <div class="col-sm-4 col-md-4 col-xs-12">
                                    <h3>SUPPORT SERVICES</h3>
                                    <a routerLink="/enterprise-support" routerLinkActive="active" (click)="closeRightOffCanvas()">Enterprise Services</a>
                                    <p>Personal support for large teams</p>
                                    <a routerLink="/partner-support" routerLinkActive="active" (click)="closeRightOffCanvas()">Partner Support</a>
                                    <p>Trusted third-party consultant</p>
                                    <a routerLink="/support" routerLinkActive="active" (click)="closeRightOffCanvas()">Codingo Support</a>
                                    <p>A resource hub for teams and admins</p>
                                </div>
                                <div class="col-sm-4 col-md-4 col-xs-12" style="border-right: 1px solid grey;">
                                    <h3>LEARN & CONNECT</h3>
                                    <a routerLink="/aboutus" routerLinkActive="active" (click)="closeRightOffCanvas()">About US</a>
                                    <p>Our mission and history</p>
                                    <a routerLink="/careers" routerLinkActive="active" (click)="closeRightOffCanvas()">Careers</a>
                                    <p>Job opening, values and more</p>
                                    <a routerLink="/university" routerLinkActive="active" (click)="closeRightOffCanvas()">Codingo University</a>
                                    <p>Training and certifications for skill levels</p>
                                    <a routerLink="/community" routerLinkActive="active" (click)="closeRightOffCanvas()">Codingo Community</a>
                                    <p>A forum for connecting, sharing and learning</p>
                                </div>
                                <div class="col-sm-4 col-md-4 col-xs-12" style="padding-left: 2.5%;">
                                    <h3>Work Life Blog</h3>
                                    <a href="#"><h4>Stories on culture, tech, teams and tips</h4></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="overlay" [hidden]="!isLeftMenuOpen" (click)="closeLeftOffCanvas()"></div>
                    <div class="overlay" [hidden]="!isRightMenuOpen" (click)="closeRightOffCanvas()"></div>
                </li>

                <!-- Right off canvas ends -->

                <!-- OffCanvas Ends -->
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" routerLinkActive="active">
                    <a routerLink="/trynow" class="nav-link" style="background: #2B32B2;color:white;border-radius: 8px;">Try now</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a routerLink="/buynow" class="nav-link">Buy Now</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a routerLink="/login" class="nav-link">Login</a>
                </li>
            </ul>
        </div>
    </nav>
    <nav class="navbar container-fluid navbar-expand-md fixed-top menu-mobile">
        <a href="#" class="navbar-brand"><img src="../../assets/Codingo Logo.png" alt=""></a>
        <button class="navbar-toggler ml-auto navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar" (click)="toggleNavbar()" style="float: right; margin-left:auto; margin-right:5px; color:white;">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar" [ngClass]="{ 'show': navbarOpen }">
            <ul class="navbar-nav mx-auto">
                
                <li class="nav-item">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="collapse" href="#products" role="button" aria-expanded="false" aria-controls="products">Products</a>
                    <!-- Dropdown menu for products -->
                    
                    <div class="collapse" id="products">
                        <h3>FEATURED</h3>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <a href="www.aptipro.in" target="_blank">
                                    <div class="d-flex align-items-center">
                                        <img src="../../assets/Aptipro Icon.jpg" alt="" style="max-height: 50px; margin-right: 10px;">
                                        <div>
                                            <h4 class="mb-0">aptipro.in</h4>
                                            <p class="mb-0">Learn Aptitude from experts</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a href="www.sqlpro.in" target="_blank">
                                    <div class="d-flex align-items-center">
                                        <img src="../../assets/SQL Icon.jpg" alt="" style="max-height: 50px; margin-right: 10px;">
                                        <div>
                                            <h4 class="mb-0">sqlpro.in</h4>
                                            <p class="mb-0">End-to-end Figmateams</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <h3>OUR UPCOMING PRODUCTS</h3>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <a href="#" target="_blank">
                                    <div class="d-flex align-items-center">
                                        <img src="../../assets/Java Icon.png" alt="" style="max-height: 50px; margin-right: 10px;">
                                        <div>
                                            <h4 class="mb-0">javapro.in</h4>
                                            <p class="mb-0">End-to-end Figmateams</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a href="#" target="_blank">
                                    <div class="d-flex align-items-center">
                                        <img src="../../assets/Python Icon.jpg" alt="" style="max-height: 50px; margin-right: 10px;">
                                        <div>
                                            <h4 class="mb-0">pypro.in</h4>
                                            <p class="mb-0">End-to-end Figmateams</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="collapse" href="#support" role="button" aria-expanded="false" aria-controls="support">Support</a>
                    <!-- Dropdown menu for support -->
                    
                    <div class="collapse" id="support">
                        <h3>SUPPORT SERVICES</h3>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <a routerLink="/enterprise-support">
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <h4 class="mb-0">Enterprise Support</h4>
                                            <p class="mb-0">Personal support for large teams</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a routerLink="/partner-support">
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <h4 class="mb-0">Partner Support</h4>
                                            <p class="mb-0">Trusted third-party consultant</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a routerLink="/codingo-support">
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <h4 class="mb-0">Codingo Support</h4>
                                            <p class="mb-0">Learn SQL from experts & get your dream job</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <h3>LEARN & CONNECT</h3>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <a routerLink="/aboutus">
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <h4 class="mb-0">About US</h4>
                                            <p class="mb-0">Our mission and history</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a routerLink="/careers">
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <h4 class="mb-0">Careers</h4>
                                            <p class="mb-0">Job Opening, values, and more</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a routerLink="/codingo-university">
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <h4 class="mb-0">Codingo University</h4>
                                            <p class="mb-0">Training and certifications for all skill levels</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a routerLink="">
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <h4 class="mb-0">Codingo Community</h4>
                                            <p class="mb-0">A forum for connecting, sharing, and learning</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <h3>WORK LIFE BLOG</h3>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <a routerLink="/codingo-support">
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <h4 class="mb-0">Codingo Community</h4>
                                            <p class="mb-0">Stories on culture, tech, teams, and tips</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item" routerLinkActive="active">
                    <a routerLink="/login" class="nav-link">Login</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a routerLink="/trynow" class="nav-link" style="background: #2B32B2;color:white;border-radius: 8px; text-align: center; width: 100%;">Try now</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a routerLink="/buynow" class="nav-link">Buy Now</a>
                </li>
                
                
            </ul>
        </div>
    </nav>
</header>
