.header{
    z-index: 1000;
}
.navbar{
    padding: 0 6%;
    background: #FFFFFF;
    border-radius: 0;
    border-bottom: 1px solid #031544;
    height: 70px;
}
.navbar-brand img{
    width: 145px;
    height: 40px;
    margin: 5% 0 0 0;
}

.navbar-nav a{
    text-decoration: none;
}
.navbar-nav a:hover{
    cursor: pointer;
}
.nav-item{
    margin: 10px 20px 0 0;
}
.nav-link{
    padding: 7.5% 15px;
    font-weight: 500;
}
.nav-link:hover{
    background-color: #2B32B2;
    color: white;
    border-radius: 10px;
}
a.dropdown-toggle.open{
    background-color: #2B32B2;
    color: white;
    border-radius: 10px;
}
li.active{
    background-color: #2B32B2;
    color: white;
    border-radius: 10px;
}
.special-menu{
    background: #031544;
}

.offcanvas-left{
    position: fixed;
    top: 10%;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 100;
    display: none;
    border-top: 1px solid #031544;
}
#offcanvas-left{
    padding: 2.5% 5%;
    /* margin: auto; */
    font-size: 16px;
}
#offcanvas-left .row{
    margin: 0;
    padding: 0;
    float: left;
}
#offcanvas-left .col-sm-3, #offcanvas-left .col-md-3{
    margin: 0;
    padding: 0;
}
#offcanvas-left h3{
    font-size: 14px;
    color: #2B32B2;
}
#offcanvas-left h4{
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 18px;
}
#offcanvas-left p{
    font-size: 14px;
}
#offcanvas-left .fa{
    margin-left: 2%;
}
.offcanvas-left.open {
    display: block;
    transition: all 1s ease-in-out;
}

.offcanvas-left .close-button {
position: absolute;
top: 10px;
right: 20px;
font-size: 32px;
font-weight: 400;
}
.offcanvas-left img{
    width: 60px;
    height: 60px;
    margin: 0;
    padding: 0;
    transition: all 0.3s ease;
}

.offcanvas-right{
    position: fixed;
    top: 10%;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 999;
    display: none;
    border-top: 1px solid #031544;
}
#offcanvas-right{
    padding: 5% 5%;
    margin: auto;
}
.offcanvas-right.open {
    display: block;
}

.offcanvas-right .close-button {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 32px;
    font-weight: 400;
}
#offcanvas-right h3{
    font-size: 14px;
    color: #2B32B2;
}
#offcanvas-right a{
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: black;
}
#offcanvas-right a:hover{
    color: blue;
}
#offcanvas-right p{
    font-size: 12px;
}
a.active{
    color: blue;
    font-weight: bold;
}


.slideInOut {
    transition: transform 0.3s ease-in-out;
}

.slideInOut.out {
    transform: translateY(-100%);
}

.slideInOut.in {
    transform: translateY(0);
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #606060; 
    opacity: 0.7;
    z-index: 99; 
}

.hover-zoom a{
    color: black;
    font-weight: 400;
}
.hover-zoom:hover{
    transform: scale(1.1);
    transition: all 0.3s ease;
    cursor: pointer;
}
.hover-zoom:hover a{
    color: #2B32B2;
}
.header-white {
    background-color: white;
  }
  
  .header-grey {
    background-color: rgb(236, 234, 234);
  }